<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"	   
	   xmlns:tx="http://www.springframework.org/schema/tx"       
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd                           
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">	

<!-- 	<context:annotation-config />  -->
	
	<!-- Scans packages to find and register beans within the application, eliminate the need for declaring all the beans in the XML files -->
	<context:component-scan base-package="ep.triloedi"/>
<!-- 	<context:component-scan base-package="ep.triloedi.dao"/>			 -->
<!-- 	<context:component-scan base-package="ep.triloedi.services"/> -->
<!-- 	<context:component-scan base-package="ep.triloedi.web"/> -->

    <!-- Datasource configuration -->	
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
	    <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
	    <property name="url" value="jdbc:oracle:thin:@DDOC26-LH:1529:DDOC26"/>
	    <property name="username" value="TRILOEDI"/>
	    <property name="password" value="changeme"/>	    
	</bean>
	
	<!-- Naming Strategy for Oracle queries. Avoid error ORA-00972 -->	
 	<bean id="namingStrategy" class="ep.triloedi.dao.hibernate.OracleNamingStrategy"/>
	
	<!-- SessionFactory configuration -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	    <property name="dataSource" ref="dataSource" />
	    <property name="configLocation" value="classpath:hibernate.cfg.xml" />
	    <property name="namingStrategy" ref="namingStrategy"/>
	</bean>
	
	<!-- Spring Transaction Manager -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
	    <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="documentSettingsDAO" class="ep.triloedi.dao.db.DocumentSettingsDAOImpl">
	    <constructor-arg>
	        <ref bean="sessionFactory" />
	    </constructor-arg>
	</bean>
	
</beans>